<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonkeyPinch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20127AC41D4D189F00C260F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20127AD81D4D189F00C260F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20127AE31D4D189F00C260F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
